.title {
	text-align: center;
}

#cy {
	width: 600px;
	height: 500px;
	display: block;
	border: 1px solid black;
	float: left;
}

#btn {
	float: right;
}

.controls {

	border: 1px solid black;
	float: right;
	padding: 10px;
}

.cytoscape-navigator {
	background: #eee;
	width: 300px;
	height: 300px;
	/*position: absolute;
	top: 400px;
	left: 500px;*/
}

.html {
	height: 2000px;
}

hr {
	margin: 0;
}